@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  --color-blue-50: hsl(265, 55%, 96%);
  --color-blue-100: hsl(206, 75%, 92%);
  --color-blue-200: hsl(207, 59%, 85%);
  --color-blue-300: hsl(213, 40%, 61%);
  --color-blue-400: hsl(214, 30%, 53%);
  --color-blue-500: hsl(265, 3%, 53%);
  --color-blue-600: hsl(265, 4%, 42%);
  --color-blue-700: hsl(265, 4%, 31%);
  --color-blue-800: hsl(276, 5%, 20%);
  --color-blue-900: hsla(226, 96%, 30%, 0.931);


  --color-primary-50: hsl(217, 88%, 52%);
  --color-primary-100: #f4f7faf6;
  --color-primary-200: #d3ebff;
  --color-primary-300: #3981f3;
  --color-primary-400: #2b5cb8;
  --color-primary-500: #1e5bbd;
  --color-primary-600: #124aa3;
  --color-primary-700: #06408b;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  margin: 0;
  background-color: var(--color-white-500);
  color: #252525;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Oswald', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}
